html {
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #24d363 #141414;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
}
main {
    flex: 1;
}
table {
    max-width: 1000px;
}
td {
    padding: 10px;
}
h1 {
    font-family: Arial;
    border: 2px #000000;
    color: #24d363;
    text-align: center;
    padding: 10px;
}
h2, h3, h4{
    font-family: Arial;
    color : #FFFFFF
}
.header {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #141414;
    box-sizing: border-box;
    text-align: center;
}
.footer {
    margin-top: auto;
    padding: 5px;
    width: 100%;
    background-color: #141414;
    box-sizing: border-box;
}
select {
    background-color: #141414;
    color: white;
    border: 1px solid #24d363;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
}
p {
    font-family: Arial;
    color: #FFFFFF;
    font-size: smaller;
}
.list-text {
    font-weight: bold;
}
.header .button-container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.header .button-container button {
    width: 237px;
    margin: 5px;
}
button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #141414;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: #24d363;
    color: black;
}
.blank {
    background-color: black
}
.notblank{
    border-radius: 8px;
    max-width: 1000px;
    overflow: hidden;
    background-color: #141414;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0px;
    background-color: #141414;
    height: 250px;
    max-width: 976.8px;
}
.grid-item {
    flex: 0 0 auto;
    flex-direction: column;
    width: 180px;
    height: 220px;
    margin-right: 10px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.grid-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;

}
.grid-item .pfp {
    border-radius: 50%;
}
.grid-item .stats {
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.grid-item div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.bigbutton {
    width: 500px;
    padding: 20px;
    font-size: x-large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
