<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\..\static\css\styles.css">
    <title>Login | Your Spotify Streaming Data</title>
</head>
<body>
    <div class="header">
        <h1 style="text-align: center;">Welcome to Your Spotify Streaming Data!</h1>
    </div>
    <main>
    <table style="width: 1000px; margin-left: auto; margin-right: auto;" border="0">
        <tbody>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="button-container">
                    <a href="login"><button type="button" class="login">Login with Spotify</button></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
    </table>
    </main>
    <div class="footer">
        <p style="text-align: center;">Created by @shahhh-z on GitHub</p>
    </div>
</body>
</html>
