<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\..\static\css\styles.css">
    <title>View Stats | Your Spotify Streaming Data</title>
</head>
<body>
    <div class="header">
        <h1 style="text-align: center;">Welcome to Your Spotify Streaming Data!</h1>
        <div class="button-container">
            <a href="home"><button type="button">Home</button></a>
            <a href="stats"><button type="button">View Stats</button></a>
            <a href="playlist"><button type="button">Create Playlist</button></a>
            <a href="logout"><button type="button">Log Out</button></a>
        </div>
    </div>
    <main>
    <table style="width: 1000px; margin-left: auto; margin-right: auto;" border="0">
        <tbody>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
        <tr>
            <td colspan="3" class="notblank">
                <h2 style="text-align: left;">View Stats</h2>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h4 style="text-align: left; margin-top: 0;">Here are your top Spotify listening stats.</h4>
                    <h4 style="text-align: right; margin-top: 0;">
                    <form method="GET" action="{{ url_for('stats') }}">
                        <label for="timeRange">Select Time Range:</label>
                        <select name="timeRange" id="timeRange" onchange="this.form.submit()">
                            <option value="short_term" {% if request.args.get('timeRange') == 'short_term' %}selected{% endif %}>Past 4 Weeks</option>
                            <option value="medium_term" {% if request.args.get('timeRange') == 'medium_term' %}selected{% endif %}>Past 6 Months</option>
                            <option value="long_term" {% if request.args.get('timeRange') == 'long_term' %}selected{% endif %}>Past Year</option>
                        </select>
                    </form>
                </h4>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
        <tr>
            <td colspan="3" class="notblank">
            <h3>Top Songs:</h3>
            <div class="scroll-container">
                {% for song, details in top_songs.items() %}
                    <div class="grid-item">
                        <img src="{{ details.image }}" alt="Song Image">
                        <div>{{ loop.index }}. {{ details.name }}</div>
                    </div>
                {% endfor %}
            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
        <tr>
            <td colspan="3" class="notblank">
            <h3>Top Artists:</h3>
            <div class="scroll-container">
                {% for artist, details in top_artists.items() %}
                    <div class="grid-item">
                        <img src="{{ details.image }}" alt="Artist Image" class="pfp">
                        <div>{{ loop.index }}. {{ details.name }}</div>
                    </div>
                {% endfor %}
            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="blank"></td>
        </tr>
        </tbody>
    </table>
    <div class="footer">
        <p style="text-align: center;">Created by @shahhh-z on GitHub</p>
    </div>
    </main>
</body>
</html>
